<div class="level1" id="openning" [hidden]="!step1">
  <div class="square"></div>
  <div class="circle"></div>
  <div class="star">
    <div class="star-top"></div>
    <div class="star-bottom"></div>
  </div>
  <div class="text" id='photo'>
    <div class="title">
      Keep it Possible
    </div>
    <div class="desc">
      改變成真、持續發生
    </div>
  </div>
</div>
<div class="level1" id="question1" [hidden]='!step2'>
  <div class="q1-left">
    <div class="q-container">
      <div class="q-number">
        Q1
      </div>
      <div class="q-content">
        2014年那場選舉是改變臺灣政治文化的轉捩點。那次，我們不插旗、沒有宣傳車、不買業配、不打負面選戰。如果有選擇，我們要往更進步的方向前進。這次選舉我仍會以繼續改變政治文化為訴求。因為，堅持做對的事，就是進步價值。
      </div>
      <div class="q-desc">
        你覺得勒?
      </div>
      <ul class="q-ans">
        <li (click)='goToQ2()'>對阿</li>
        <li (click)='goToQ2()'>我說都是垃圾</li>
        <li (click)='goToQ2()'>搖搖搖</li>
      </ul>
    </div>
  </div>
  <div class="q1-right">
    <div class="q1-square">
    </div>
    <div class="q1-triangle">
    </div>
    <div class="q1-circle">
    </div>
  </div>
</div>
<div class="level1" id="question2" [hidden]='!step3'>
  <div class="q2-left">
    <div class="q2-square">
    </div>
    <div class="q2-triangle">
    </div>
    <div class="q2-circle">
    </div>
  </div>
  <div class="q2-right">
    <div class="q-container">
      <div class="q-number">
        Q2
      </div>
      <div class="q-content">
        一次一次你
      </div>
      <div class="q-desc">
        你覺得勒?
      </div>
      <ul class="q-ans">
        <li (click)='goToQ3()'>對阿</li>
        <li (click)='goToQ3()'>我說都是垃圾</li>
        <li (click)='goToQ3()'>搖搖搖</li>
      </ul>
    </div>

  </div>
</div>
<div class="level1" id="question3" [hidden]='!step4'>
  <div class="q3-left">
    <div class="q-container">
      <div class="q-number">
        Q3
      </div>
      <div class="q-content">
        2014年那場選舉是改變臺灣政治文化的轉捩點。那次，我們不插旗、沒有宣傳車、不買業配、不打負面選戰。如果有選擇，我們要往更進步的方向前進。這次選舉我仍會以繼續改變政治文化為訴求。因為，堅持做對的事，就是進步價值。
      </div>
      <div class="q-desc">
        你覺得勒?
      </div>
      <ul class="q-ans">
        <li (click)='goToQ3()'>對阿</li>
        <li (click)='goToQ3()'>我說都是垃圾</li>
        <li (click)='goToQ3()'>搖搖搖</li>
      </ul>
    </div>
  </div>
  <div class="q3-right">
    <div class="q3-square">
    </div>
    <div class="q3-triangle">
    </div>
    <div class="q3-circle">
    </div>
  </div>
</div>
