<div class="level1" id="openning" [hidden]="!step1">
  <div class="square"></div>
  <div class="circle"></div>
  <div class="star">
    <div class="star-top"></div>
    <div class="star-bottom"></div>
  </div>
  <div class="text" id='photo'>
    <div class="title">
      Keep it Possible
    </div>
    <div class="desc">
      改變成真、持續發生
    </div>
  </div>
</div>
<div class="level1" id="question1" [hidden]='!step2'>
  <div class="q1-left">
    <div class="q-container">
      <div class="q-number">
        Q1
      </div>
      <div class="q-content">
        這次選舉我仍會以繼續改變政治文化為訴求。因為，堅持做對的事，就是進步價值。
      </div>
      <div class="q-desc">
        來吧夥伴，加入我們!
      </div>
      <ul class="q-ans">
        <li (click)='goToQ2()'>+1+1</li>
        <li (click)='goToQ2()'>改變成真、持續發生</li>
        <li (click)='goToQ2()'>比五月天的票難搶</li>
      </ul>
    </div>
  </div>
  <div class="q1-right">
    <div class="q1-square">
    </div>
    <div class="q1-triangle">
    </div>
    <div class="q1-circle">
    </div>
  </div>
</div>
<div class="level1" id="question2" [hidden]='!step3'>
  <div class="q2-left">
    <div class="q2-square">
    </div>
    <div class="q2-triangle">
    </div>
    <div class="q2-circle">
    </div>
  </div>
  <div class="q2-right">
    <div class="q-container">
      <div class="q-number">
        Q2
      </div>
      <div class="q-content">
        自己的政治自己參與 自己的文宣自己印
      </div>
      <div class="q-desc">
        目前，我貸款的2000萬，主要是拿來付選舉的人事、雜支等基本開支。至於募資文宣品、宣傳與活動、據點等費用，我們會使用群眾募資的方式，請大家一起幫忙。
      </div>
      <ul class="q-ans">
        <li (click)='goToQ3()'>鍵盤支持</li>
        <li (click)='goToQ3()'>行動支持</li>
        <li (click)='goToQ3()'>臥底支持</li>
      </ul>
    </div>

  </div>
</div>
<div class="level1" id="question3" [hidden]='!step4'>
  <div class="q3-left">
    <div class="q-container">
      <div class="q-number">
        Q3
      </div>
      <div class="q-content">
        無論選舉、募資或改變政治文化都需要藉眾人之力完成眾人之事
      </div>
      <div class="q-desc">
        募資的概念就是「藉眾人之力完成眾人之事」，政治也是一樣。過去臺北市面臨許多長年無法解決的問題。
      </div>
      <ul class="q-ans">
        <li (click)='goToQ3()'>大巨蛋</li>
        <li (click)='goToQ3()'>東環線</li>
        <li (click)='goToQ3()'>展演中心</li>
      </ul>
    </div>
  </div>
  <div class="q3-right">
    <div class="q3-square">
    </div>
    <div class="q3-triangle">
    </div>
    <div class="q3-circle">
    </div>
  </div>
</div>
